*{
	margin: 0;
	padding: 0;
}

:root {
	--main-font: 'Open Sans', sans-serif;
	--first-color: #070707;
	--second-color: #828282;
	--first-section-color: #FFFFFF;
	--second-section-color: #F6F6F6;
}

body {
	font-family: var(--main-font);
}

.wrapper {
	max-width: 977px;
	margin: 0 auto;
	padding: 0 15px;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

h2 {
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: var(--first-color);
}

/* HEADER */
.header {
	background-color: var(--first-section-color);
}

.header-nav{
	border-bottom: 2px solid var(--second-color);
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
}

.nav-menu-item {
	display: table-cell;
}

.nav-menu-link {
	display: block;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: var(--second-color);
	text-shadow: 0px 4px 4px;
}

.nav-menu-link:hover {
	color: var(--first-color);
	text-shadow: none;
	transition: 300ms;
}

/* HERO */
.hero {
	background-color: var(--first-section-color);
}

.hero-menu {
	display: flex;
	align-items: end;
	justify-content: space-between;
	padding-left: 0;
	margin-top: 40px;
}

.hero-menu-item {
	display: flex;
	align-items: end;
}

.hero-title {
	font-weight: 700;
	font-size: 47.34px;
	line-height: 59px;
	color: var(--first-color);
}

.hero-text {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: var(--first-color);
	padding-right: 55px;
}

.hero-lang {
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: var(--second-color);
	padding-top: 60px;
	transform: rotate(-90deg);
}

.hero-img-1{
	margin-top: 50px;
	margin-bottom: 104px;
}

.hero-img-2 {
	display: none;
}

/* ABOUT ME */
.about-me {
	background-color: var(--second-section-color);
}

.about-me-title {
	padding-top: 120px;
	padding-bottom: 18px;
}

.about-me-list {
	padding-bottom: 107px;
}

.about-me-item {
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 50px;
}

/* SKILLS */
.skills {
	background-color: var(--first-section-color);
}

.skills-title {
	margin-top: 91px;
	margin-bottom: 70px;
}

.skills-text {
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: var(--first-color);
	margin-bottom: 84px;
}

.skills-list {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 0;
	margin: 0 0 110px 0;
}

.skills-item {
	display: inline-table;
	width: 166px;
	height: 206px;
	margin-right: 88px;
}

.skills-item.figma {
	margin-right: 0;
}

.skills-img {
	margin-bottom: 20px;
	margin-left: 40px;
}

.stars-list {
	width: 166px;
	padding: 0;
}

.stars-list-item {
	display: table-cell;
}

.stars-img {
	display: inline;
	margin-right: 9px;
}

.skills-item-text {
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: var(--second-color);
	width: 90px;
	margin: 0 0 40px 40px;
}

.skills-item-text.figma {
	margin: 0 0 57px 40px;
}

/* PORTFOLIO */
.portfolio {
	background-color: var(--second-section-color);
}

.portfolio-title {
	padding-top: 110px;
	padding-bottom: 47px;
}

.portfolio-list {
	padding: 0;
	margin: 0;
}

.portfolio-img {
	margin-bottom: 45px;
}

.portfolio-item-text {
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-decoration-line: underline;
	color: var(--first-color);
	margin-bottom: 100px;
}

.blpc {
	margin: 0;
	padding-bottom: 90px;
}

/* FOOTER */
.footer {
	background-color: var(--first-section-color);
}

.footer-title {
	margin-top: 121px;
	margin-bottom: 20px;
}

.footer-text {
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: var(--first-color);
	margin: 0 0 60px 0;

}

.footer-btn {
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	background-color: var(--first-color);
	color: var(--first-section-color);
	padding: 13px 30px;
	border-radius: 50px;
	width: 180px;
	height: 42px;
	margin-left: 390px;
}

.footer-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
	margin-top: 100px;	
}

.footer-item {
	display: inline-block;
}

.footer-info {
	font-family: var(--main-font);
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: var(--second-color);
	margin-top: 45px;
	margin-bottom: 125px;
}

/* ---------------------------------- */
.close-icon-menu,
.icon-menu { 
	display: none;
}

@media (max-width: 977px) {
	.wrapper{
		max-width: 882px;
	}
	/* .header-nav {
		display: none;
	}   */
}
/* TABLET */
@media (max-width: 881.98px) {
	.wrapper{
		max-width: 690px;
	}
	.hero-img-1 {
		width: 690px;
		background-image: url(./img/mob-hero.jpg);
	}

	.skills-list {
		display: grid;
		grid-template-columns: 250px 160px;
		gap: 50px;
	}

	.skills-item {
		margin-right: 0;
	}

	.portfolio-img { 
		width: 690px;
		height: 387px;
	}

	.footer-btn {
		margin-left: 250px;
	}

}
/* MOBILE */
@media (max-width: 677.98px) {
	.wrapper{
		max-width: 350px;
	}

	.icon-menu {
		display: flex;
		position: relative;
		flex: 0 0 30px;
		height: 24px;
		flex-direction: column;
		justify-content: space-between;
		margin: 48px 30px 0px 0px;
	}
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		background-color: var(--first-color);
		height: 6px;
	}
	.icon-menu span {
		height: 6px;
		background-color: var(--first-color);
	}

	.close-icon-menu {
		flex: 0 0 30px;
		height: 30px;
		position: relative;
		margin: 45px 30px 0 0;
	}
	.close-icon-menu::before,
	.close-icon-menu::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		background-color: var(--second-color);
		height: 6px;
	}
	.close-icon-menu::before {
		transform: rotate(45deg);
		
	}
	.close-icon-menu::after {
		transform: rotate(-45deg);
	}

	.header-nav {
		position: fixed;
		top: 0;
		left: -200%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #FFFFFF;
		padding: 30px 0 0 26px;
		transition: left 0.3s ease 0s;
	}
	.nav-menu {
		flex-direction: column;
		justify-content: center;
		align-items: start;
		gap: 68px;
	}
	.header:target .header-nav {
		left: 0;
	}
	.header:target .icon-menu {
		display: none;
	}
	.header:target .close-icon-menu {
		display: flex;
	}
	.nav-menu-link {
		font-size: 32px;
	}
	.header-menu {
		flex: 0 0 252px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.hero-lang{
		display: none;
		position: fixed;
		/* font-size: 32px;
		transform: rotate(90deg); */
	}

	.hero-img-1{
		display: none;
	}

	.hero-img-2{
		display: block;
		margin: auto;
		margin-bottom: 83px;
	}

	.hero-title{
		font-size: 47px;
		margin: -60px 0 0 0;
	}

	.hero-menu {
		flex-direction: column;
		align-items: start;
	}

	.hero-text {
		padding: 0px;
		margin: 23px 0 40px 0;
	}

	.about-me-item { 
		margin-left: 5px;
		margin-right: 5px;
	}

	.skills-list {
		display: flex;
		flex-direction: column;
		gap: 81px;
	}

	.skills-item {
		margin-right: 0;
	}

	.portfolio-img { 
		width: 316px;
		height: 171px;
		display: block;
		margin: auto auto 35px auto;
	}

	.footer-btn {
		display: block;
		width: 200px;
		line-height: 15px;
		margin: auto;
	}

	.footer-list { 
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
		margin-top: 50px;
	}
}